.card {
    height: 10vh;
    width: 50%;

    background: #735bf2;
    color: #ffffff;

    border-radius: 1vh;
    margin-bottom: 1vh;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card strong {
    font-size: 2vh;
}