.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
}

.container h1 {
    margin: 9vh 0 3vh;
}

.container input {
    width: 50%;
    padding: 2vh;
    background: #e6e6e6;
    border-radius: 1vh;
    border: none;
    font-size: 2vh;
}

.container button {
    width: 50%;
    padding: 1vh;
    font-weight: 700;

    background: #ea4c89;
    color:#ffffff;

    border-radius: 1vh;
    border: none;
    
    cursor: pointer;
    transition: filter 0.2s;

    font-size: 2vh;
}

.container button:hover {
    filter: brightness(0.9)
}