.login-container {
    display: flex;
    height: 100vh;
}

.login-container > * {
    flex: 1 1 50%;
}

.login-bg {
    background: url('../img/wp9776630-cool-wallpaper-1920x1080.jpg') center no-repeat;
    background-size: cover;
    z-index: 0;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: var(--gutter);
}

.form-container .form-wrapper {
    width: 100%;
    max-width: 320px;
    border-radius: var(--border-radius);
    border: 2px dashed var(--color-primary-dark);
    padding: calc(var(--gutter)*2) calc(var(--gutter)*4);
    position: relative;
}

.form-container .btn {
    margin-bottom: var(--gutter);
}

h1 {
    text-align: center;
    color: var(--color-primary);
}

.helper-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.helper-links a{
    color: var(--color-primary);
    transition: all 150ms ease-in-out;
}

.helper-links a:hover{
    color: var(--color-primary-dark);
}

.helper-links a:active{
    color: var(--color-primary-darker);
}

#checkForm {
    display: none;
}

.form-wrapper form {
    position: absolute;
    inset: calc(var(--gutter)*2) calc(var(--gutter)*4);
}

.form-wrapper {
    transition: height 250ms ease-in-out;
    animation-name: wrapper-in;
    animation-duration: 200ms;
    animation-delay: 300ms;
    animation-fill-mode: both;
}

#checkForm:not(:checked) ~ .form-wrapper {
    height: 290px;
} 

#checkForm:checked ~ .form-wrapper {
    height: 320px;
} 

#checkForm:checked ~ .form-wrapper .form-register {
    animation-name: form-in;
    animation-duration: 200ms;
    animation-fill-mode: both;
    animation-delay: 300ms;
}

#checkForm:not(:checked) ~ .form-wrapper .form-register {
    animation-name: form-out;
    animation-duration: 200ms;
    animation-fill-mode: both;
}

#checkForm:checked ~ .form-wrapper .form-login {
    animation-name: form-out;
    animation-duration: 200ms;
    animation-fill-mode: both;
    animation-delay: 250ms;
}

#checkForm:not(:checked) ~ .form-wrapper .form-login {
    animation-name: form-in;
    animation-duration: 200ms;
    animation-fill-mode: both;
    animation-delay: 300ms;
}

@media screen and (max-width: 680px){
    .login-bg {
        position: absolute;
        inset: 0
    }

    .form-container .form-wrapper {
        backdrop-filter: blue(2px);
        background: rgba(255, 255, 255, .5);
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: var(--gutter);

    }
}

@media screen and (max-height: 250px) {
    .form-container {
        display: block;
        overflow-y: auto;
    }
}

@keyframes wrapper-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes form-in {
    0% {
        opacity: 0;
        z-index: -1;
    }

    99% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        z-index: 1;
    }
}

@keyframes form-out {
    0% {
        opacity: 1;
        z-index: 1;
    }

    99% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}